.version.index /* version checker */
{
	color: #00001F;
	background-color: #527ED6;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 5633px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u75
{
	z-index: 2;
	border-color: #000000;
	background: #7F7F7F url("../images/1370x800-u75-fr.png") no-repeat center center;
	background-color: rgba(0, 0, 0, 0.5);
	background-size: cover;
}

#u75_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 328px;
	padding-bottom: 233px;
}

#u129-4
{
	z-index: 3;
	width: 547px;
	min-height: 115px;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 72px;
	font-size: 60px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 700;
	left: 409px;
	position: relative;
}

#u129-2
{
	padding-top: 23px;
}

#u431
{
	z-index: 371;
	width: 80px;
	height: 80px;
	border-color: #000000;
	left: 645px;
	margin-top: 39px;
	position: relative;
	background: transparent url("../images/w64_65.png") no-repeat center center;
}

#u75-bw
{
	z-index: 2;
	height: 800px;
}

#pu76
{
	width: 0.01px;
	padding-bottom: 75px;
	margin-left: -100px;
	margin-top: -800px;
}

#u76
{
	z-index: 327;
	height: 75px;
	border-color: #000000;
	background-color: #262626;
	position: fixed;
	top: 0px;
}

#u76-bw
{
	z-index: 327;
}

#u77-4
{
	z-index: 328;
	width: 265px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: -560px;
}

#menuu78
{
	z-index: 332;
	width: 740px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -180px;
}

#u79
{
	width: 105px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u82
{
	width: 105px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u83-4
{
	width: 43px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 31px;
}

#u86
{
	width: 134px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 107px;
}

#u89
{
	width: 134px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u90-4
{
	width: 72px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 31px;
}

#u100
{
	width: 103px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u101
{
	width: 103px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u102-4
{
	width: 41px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 31px;
}

#u93
{
	width: 137px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 348px;
}

#u94
{
	width: 137px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u95-4
{
	width: 76px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 30px;
}

#u418
{
	width: 131px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 487px;
}

#u419
{
	width: 131px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u420-4
{
	width: 70px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 30px;
}

#u107
{
	width: 120px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 620px;
}

#u108
{
	width: 120px;
	background-color: transparent;
	padding-bottom: 20px;
	position: relative;
}

#u82.MuseMenuActive,#u89.MuseMenuActive,#u101.MuseMenuActive,#u94.MuseMenuActive,#u419.MuseMenuActive,#u108.MuseMenuActive
{
	margin: 0px;
}

#u109-4
{
	width: 59px;
	min-height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 30px;
}

#u82.MuseMenuActive #u83-4,#u89.MuseMenuActive #u90-4,#u101.MuseMenuActive #u102-4,#u94.MuseMenuActive #u95-4,#u419.MuseMenuActive #u420-4,#u108.MuseMenuActive #u109-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u130-4
{
	z-index: 7;
	width: 358px;
	min-height: 58px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 404px;
	margin-top: 81px;
	position: relative;
}

#u131
{
	z-index: 11;
	width: 455px;
	height: 337px;
	border-color: #262626;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/455x337.gif") no-repeat center center;
	background-size: cover;
}

#ppu144-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 475px;
}

#u144-4
{
	z-index: 12;
	width: 265px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u146-4
{
	z-index: 36;
	width: 360px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#pu145-20
{
	width: 0.01px;
	margin-top: 21px;
}

#u145-20
{
	z-index: 16;
	width: 265px;
	min-height: 226px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u147-7
{
	z-index: 40;
	width: 360px;
	min-height: 226px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#pu148
{
	width: 0.01px;
	margin-top: 11px;
}

#u148
{
	z-index: 47;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	background: #262626 url("../images/facebook.png") no-repeat center center;
}

#u148:hover
{
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/facebook.png") no-repeat center center;
}

#u155
{
	z-index: 48;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 60px;
	background: #262626 url("../images/skype.png") no-repeat center center;
}

#u155:hover
{
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/skype.png") no-repeat center center;
}

#u156
{
	z-index: 49;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 120px;
	background: #262626 url("../images/twitter.png") no-repeat center center;
}

#u156:hover
{
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/twitter.png") no-repeat center center;
}

#u169
{
	z-index: 50;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 180px;
	background: #262626 url("../images/google%20plus.png") no-repeat center center;
}

#u169:hover
{
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/google%20plus.png") no-repeat center center;
}

#u170
{
	z-index: 51;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 240px;
	background: #262626 url("../images/behance.png") no-repeat center center;
}

#u170:hover
{
	margin: 0px -10000px 0px 0px;
	background: #000000 url("../images/behance.png") no-repeat center center;
}

#pu189
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 110px;
}

#u189
{
	z-index: 52;
	border-color: #000000;
	background-color: #F6F6F6;
}

#u189_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
}

#u189_position_content
{
	padding-bottom: 224px;
}

#u190-4
{
	z-index: 53;
	width: 358px;
	min-height: 58px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	left: 504px;
	margin-top: 81px;
	position: relative;
}

#u191
{
	z-index: 57;
	width: 2px;
	height: 468px;
	border-color: #000000;
	background-color: #262626;
	left: 684px;
	margin-top: 49px;
	position: relative;
}

#u189-bw
{
	z-index: 52;
	height: 902px;
}

#u192
{
	z-index: 58;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 660px;
	background: #262626 url("../images/study%20copy.png") no-repeat center center;
}

#u192:hover
{
	margin: 210px -10000px 0px 0px;
	background: #000000 url("../images/study%20copy.png") no-repeat center center;
}

#u204
{
	z-index: 73;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 660px;
	background: #262626 url("../images/study%20copy.png") no-repeat center center;
}

#u204:hover
{
	margin: 420px -10000px 0px 0px;
	background: #000000 url("../images/study%20copy.png") no-repeat center center;
}

#u210
{
	z-index: 88;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 630px;
	left: 660px;
	background: #262626 url("../images/study%20copy.png") no-repeat center center;
}

#u210:hover
{
	margin: 630px -10000px 0px 0px;
	background: #000000 url("../images/study%20copy.png") no-repeat center center;
}

#pu197
{
	width: 0.01px;
	padding-bottom: 580px;
	margin-left: 120px;
	margin-top: -692px;
}

#u197
{
	z-index: 59;
	width: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1667px;
	left: 120px;
}

#u193
{
	z-index: 60;
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 12px 11.324999999998454px 21px;
}

#u194-4
{
	z-index: 61;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u195-4
{
	z-index: 65;
	width: 375px;
	min-height: 75px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u196-4
{
	z-index: 69;
	width: 375px;
	min-height: 25px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 22px;
}

#u211
{
	z-index: 89;
	width: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2087px;
	left: 120px;
}

#u212
{
	z-index: 90;
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 12px 11.324999999998454px 21px;
}

#u215-4
{
	z-index: 91;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u214-4
{
	z-index: 95;
	width: 375px;
	min-height: 75px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u213-4
{
	z-index: 99;
	width: 375px;
	min-height: 25px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 22px;
}

#u205
{
	z-index: 74;
	width: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1877px;
	left: 641px;
}

#u209
{
	z-index: 75;
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 12px 11.324999999998454px 21px;
}

#u208-4
{
	z-index: 76;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u207-4
{
	z-index: 80;
	width: 375px;
	min-height: 75px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u206-4
{
	z-index: 84;
	width: 375px;
	min-height: 25px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 22px;
}

#u223-4
{
	z-index: 103;
	width: 358px;
	min-height: 58px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 404px;
	margin-top: 81px;
	position: relative;
}

#u229
{
	z-index: 107;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2569px;
	left: 25px;
}

#u224
{
	z-index: 108;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u225
{
	z-index: 109;
	width: 474px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u227-4
{
	z-index: 110;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u228-4
{
	z-index: 114;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u230
{
	z-index: 118;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2569px;
	left: 595px;
}

#u232
{
	z-index: 119;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u234
{
	z-index: 120;
	width: 454px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u231-4
{
	z-index: 121;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u233-4
{
	z-index: 125;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u235
{
	z-index: 129;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2649px;
	left: 25px;
}

#u239
{
	z-index: 130;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u236
{
	z-index: 131;
	width: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u238-4
{
	z-index: 132;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u237-4
{
	z-index: 136;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u240
{
	z-index: 140;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2649px;
	left: 595px;
}

#u243
{
	z-index: 141;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u241
{
	z-index: 142;
	width: 409px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u244-4
{
	z-index: 143;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u242-4
{
	z-index: 147;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u245
{
	z-index: 151;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2729px;
	left: 25px;
}

#u249
{
	z-index: 152;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u246
{
	z-index: 153;
	width: 406px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u248-4
{
	z-index: 154;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u247-4
{
	z-index: 158;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u250
{
	z-index: 162;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2729px;
	left: 595px;
}

#u253
{
	z-index: 163;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u251
{
	z-index: 164;
	width: 434px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u254-4
{
	z-index: 165;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u252-4
{
	z-index: 169;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u255
{
	z-index: 173;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2809px;
	left: 25px;
}

#u259
{
	z-index: 174;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u256
{
	z-index: 175;
	width: 423px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u258-4
{
	z-index: 176;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u257-4
{
	z-index: 180;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#u260
{
	z-index: 184;
	width: 551px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2809px;
	left: 595px;
}

#u263
{
	z-index: 185;
	width: 549px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u261
{
	z-index: 186;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #262626;
	padding-bottom: 2px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u264-4
{
	z-index: 187;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #FFFFFF;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: -1px;
}

#u227-2,#u231-2,#u238-2,#u244-2,#u248-2,#u254-2,#u258-2,#u264-2
{
	padding-left: 10px;
}

#u262-4
{
	z-index: 191;
	width: 49px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 487px;
}

#pu265
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 435px;
}

#u265
{
	z-index: 195;
	border-color: #000000;
	background-color: #F6F6F6;
}

#u265_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-bottom: 223px;
}

#education,#experience
{
	position: relative;
}

#u266-4
{
	z-index: 196;
	width: 358px;
	min-height: 58px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	left: 516px;
	margin-top: 81px;
	position: relative;
}

#u267
{
	z-index: 200;
	width: 2px;
	height: 468px;
	border-color: #000000;
	background-color: #262626;
	left: 684px;
	margin-top: 50px;
	position: relative;
}

#u265-bw
{
	z-index: 195;
	height: 902px;
}

#u268
{
	z-index: 201;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 660px;
	background: #262626 url("../images/like%20copy.png") no-repeat center center;
}

#u268:hover
{
	margin: 211px -10000px 0px 0px;
	background: #000000 url("../images/like%20copy.png") no-repeat center center;
}

#u274
{
	z-index: 216;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 421px;
	left: 660px;
	background: #262626 url("../images/like%20copy.png") no-repeat center center;
}

#u274:hover
{
	margin: 421px -10000px 0px 0px;
	background: #000000 url("../images/like%20copy.png") no-repeat center center;
}

#u280
{
	z-index: 231;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 631px;
	left: 660px;
	background: #262626 url("../images/like%20copy.png") no-repeat center center;
}

#u280:hover
{
	margin: 631px -10000px 0px 0px;
	background: #000000 url("../images/like%20copy.png") no-repeat center center;
}

#pu269
{
	width: 0.01px;
	padding-bottom: 580px;
	margin-left: 120px;
	margin-top: -691px;
}

#u269
{
	z-index: 202;
	width: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3166px;
	left: 120px;
}

#u270
{
	z-index: 203;
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 12px 11.324999999998454px 21px;
}

#u272-4
{
	z-index: 204;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u273-4
{
	z-index: 208;
	width: 375px;
	min-height: 75px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u271-4
{
	z-index: 212;
	width: 375px;
	min-height: 25px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 22px;
}

#u281
{
	z-index: 232;
	width: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3586px;
	left: 120px;
}

#u284
{
	z-index: 233;
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 12px 11.324999999998454px 21px;
}

#u283-4
{
	z-index: 234;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u282-4
{
	z-index: 238;
	width: 375px;
	min-height: 75px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u285-4
{
	z-index: 242;
	width: 375px;
	min-height: 25px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 22px;
}

#u275
{
	z-index: 217;
	width: 410px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3376px;
	left: 641px;
}

#u279
{
	z-index: 218;
	width: 375px;
	border-width: 1px;
	border-style: solid;
	border-color: #262626;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 12px 11.324999999998454px 21px;
}

#u276-4
{
	z-index: 219;
	width: 375px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #262626;
	text-align: left;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
}

#u277-4
{
	z-index: 223;
	width: 375px;
	min-height: 75px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-top: 24px;
	position: relative;
}

#u278-4
{
	z-index: 227;
	width: 375px;
	min-height: 25px;
	background-color: transparent;
	text-align: left;
	color: #515A5F;
	line-height: 21px;
	font-family: raleway, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 22px;
}

#about,#skills,#portfolio
{
	left: -100px;
	position: relative;
}

#u295-4
{
	z-index: 246;
	width: 358px;
	min-height: 58px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	margin-left: 404px;
	margin-top: 81px;
	position: relative;
}

#pu131,#pppu296
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 49px;
}

#ppu296
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pu144-4,#pu296
{
	width: 0.01px;
}

#u296
{
	z-index: 250;
	width: 360px;
	height: 360px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/360x360.gif") no-repeat center top;
	background-size: cover;
}

#u309
{
	z-index: 251;
	width: 360px;
	height: 360px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 380px;
	background: #FFFFFF url("../images/360x360.gif") no-repeat center top;
	background-size: cover;
}

#u296:hover,#u309:hover
{
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/gallery%20background.jpg") no-repeat center top;
	background-size: cover;
}

#u311
{
	z-index: 253;
	width: 740px;
	height: 360px;
	border-color: #000000;
	margin-top: 30px;
	position: relative;
	background: #FFFFFF url("../images/740x360.gif") no-repeat center top;
	background-size: cover;
}

#u311:hover
{
	margin: 30px 0px 0px;
	background: #FFFFFF url("../images/bf2.jpg") no-repeat center top;
	background-size: cover;
}

#u310
{
	z-index: 252;
	width: 360px;
	height: 750px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	left: 760px;
	background: #FFFFFF url("../images/360x750.gif") no-repeat center top;
	background-size: cover;
}

#u310:hover
{
	margin: 0px -10000px 0px 0px;
	background: #FFFFFF url("../images/bg3.jpg") no-repeat center top;
	background-size: cover;
}

#contact
{
	left: -100px;
	margin-top: 107px;
	position: relative;
}

#pu348
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -18px;
}

#u348
{
	z-index: 254;
	border-color: #000000;
	padding-bottom: 0px;
	background: #FFFFFF url("../images/1370x800-u348-fr.png") no-repeat left top;
	background-color: rgba(255, 255, 255, 0.27);
	background-size: cover;
}

#u348_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1170px;
	position: relative;
	left: -100px;
	padding-top: 99px;
	padding-bottom: 33px;
}

#u349-4
{
	z-index: 255;
	width: 358px;
	min-height: 58px;
	border-width: 2px;
	border-style: solid;
	border-color: #262626;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	left: 494px;
	position: relative;
}

#u130-2,#u190-2,#u223-2,#u266-2,#u295-2,#u349-2
{
	padding-top: 12px;
}

#pu394-4
{
	width: 0.01px;
	left: 115px;
	margin-top: 358px;
	position: relative;
}

#u394-4
{
	z-index: 308;
	width: 360px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #1D1F26;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u393-4
{
	z-index: 304;
	width: 360px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #1D1F26;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 380px;
}

#u395-4
{
	z-index: 312;
	width: 360px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	font-size: 16px;
	color: #1D1F26;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 760px;
}

#u417-4
{
	z-index: 319;
	width: 1120px;
	min-height: 29px;
	background-color: transparent;
	line-height: 16px;
	font-size: 12px;
	color: #262626;
	text-align: center;
	font-family: raleway, sans-serif;
	font-weight: 400;
	left: 125px;
	margin-top: 99px;
	position: relative;
}

#u348-bw
{
	z-index: 254;
	height: 709px;
}

#widgetu374
{
	z-index: 259;
	width: 0.01px;
	height: 286px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 115px;
}

#widgetu382
{
	z-index: 260;
	width: 362px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u383-4
{
	z-index: 261;
	width: 348px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #000000;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

.html,#widgetu382.non-empty-st #u383-4
{
	background-color: #FFFFFF;
}

#widgetu382:hover #u383-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu382.focus-st #u383-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu382.non-empty-st #u383-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu382:hover #u383-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu382.focus-st #u383-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu387
{
	z-index: 265;
	width: 362px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: -1px;
}

#widgetu387.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 75px -10000px 0px 0px;
}

#u390-4
{
	z-index: 266;
	width: 348px;
	min-height: 38px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #000000;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#widgetu387.non-empty-st #u390-4
{
	background-color: #FFFFFF;
}

#widgetu387:hover #u390-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu387.focus-st #u390-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu382.fld-err-st #u383-4,#widgetu387.fld-err-st #u390-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 38px;
	width: 348px;
	margin: 0px -10000px 0px 0px;
}

#widgetu387.non-empty-st #u390-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu387:hover #u390-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu387.focus-st #u390-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu382_input,#widgetu382_prompt,#widgetu387_input,#widgetu387_prompt
{
	width: 348px;
	min-height: 38px;
	color: #000000;
	font-family: raleway, sans-serif;
	font-weight: 700;
	padding: 6px;
}

#u375-4
{
	z-index: 270;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 595px;
}

#widgetu374.frm-sub-st #u375-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u377-4
{
	z-index: 274;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #FF0000;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 595px;
}

#widgetu374.frm-subm-err-st #u377-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u376-4
{
	z-index: 278;
	width: 200px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #00FF00;
	line-height: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	left: 595px;
}

#widgetu374.frm-sub-st #u375-4,#widgetu374.frm-subm-err-st #u377-4,#widgetu374.frm-subm-ok-st #u376-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu374.frm-subm-ok-st #u376-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u386-17
{
	z-index: 282;
	min-height: 50px;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 950px;
	background: url("../images/u386-17.png") no-repeat 0px 0px;
}

#u386-17:hover
{
	background: url("../images/u386-17-r.png") no-repeat 0px 0px;
}

#u386-17:active
{
	background: url("../images/u386-17-m.png") no-repeat 0px 0px;
}

#widgetu374.frm-sub-st #u386-17
{
	background: url("../images/u386-17-fs.png") no-repeat 0px 0px;
}

#widgetu378
{
	z-index: 299;
	width: 742px;
	height: 129px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 379px;
}

#widgetu382.fld-err-st,#widgetu378.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: -1px -10000px 0px 0px;
}

#u380-4
{
	z-index: 300;
	width: 728px;
	min-height: 115px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	padding: 6px;
	color: #000000;
	line-height: 14px;
	font-family: raleway, sans-serif;
	font-weight: 700;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
}

#widgetu378.non-empty-st #u380-4
{
	background-color: #FFFFFF;
}

#widgetu378:hover #u380-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 115px;
	width: 728px;
	margin: 0px -10000px 0px 0px;
}

#widgetu378.focus-st #u380-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 115px;
	width: 728px;
	margin: 0px -10000px 0px 0px;
}

#widgetu378.fld-err-st #u380-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 115px;
	width: 728px;
	margin: 0px -10000px 0px 0px;
}

#widgetu378.non-empty-st #u380-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu378:hover #u380-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu378.focus-st #u380-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu382.fld-err-st #u383-4 *,#widgetu387.fld-err-st #u390-4 *,#widgetu378.fld-err-st #u380-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu378_input,#widgetu378_prompt
{
	width: 728px;
	min-height: 115px;
	color: #000000;
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 700;
	padding: 6px;
}

#widgetu382:hover #widgetu382_input,#widgetu382.focus-st #widgetu382_input,#widgetu382.fld-err-st #widgetu382_input,#widgetu382:hover #widgetu382_prompt,#widgetu382.focus-st #widgetu382_prompt,#widgetu382.fld-err-st #widgetu382_prompt,#widgetu387:hover #widgetu387_input,#widgetu387.focus-st #widgetu387_input,#widgetu387.fld-err-st #widgetu387_input,#widgetu387:hover #widgetu387_prompt,#widgetu387.focus-st #widgetu387_prompt,#widgetu387.fld-err-st #widgetu387_prompt,#widgetu378:hover #widgetu378_input,#widgetu378.focus-st #widgetu378_input,#widgetu378.fld-err-st #widgetu378_input,#widgetu378:hover #widgetu378_prompt,#widgetu378.focus-st #widgetu378_prompt,#widgetu378.fld-err-st #widgetu378_prompt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#widgetu382.non-empty-st #widgetu382_prompt,#widgetu387.non-empty-st #widgetu387_prompt,#widgetu378.non-empty-st #widgetu378_prompt
{
	visibility: hidden;
}

#u396
{
	z-index: 316;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
	left: 270px;
	background: #262626 url("../images/w32_99.png") no-repeat center center;
}

#u397
{
	z-index: 317;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
	left: 650px;
	background: #262626 url("../images/w32_20.png") no-repeat center center;
}

#u398
{
	z-index: 318;
	width: 50px;
	height: 50px;
	border-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 454px;
	left: 1030px;
	background: #262626 url("../images/w32_87.png") no-repeat center center;
}

body
{
	position: relative;
	min-width: 1170px;
}

#page .verticalspacer
{
	clear: both;
}

